/* ================================
   DEROCK RTL THEME FOR STARLIGHT
   ================================ */

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --sl-font: 'Vazirmatn', system-ui, sans-serif;
  --sl-color-accent: #00979C; /* primary دِراک */
  --sl-color-accent-high: white;
  /* --sl-color-text-accent: black; */
}

.site-title {
  font-weight: 100;
  letter-spacing: -1px;
  color: var(--sl-color-white);;
}

.sl-markdown-content {
  text-align: justify;
}

.sl-markdown-content img {
  display: block;
  margin-inline: auto;
  /* margin-bottom: 1rem; */
  border-radius: 12px;
  /* border: 1px solid lightgrey; */
}
.sl-markdown-content em {
  text-align: center;
  display: block;
  margin-inline: auto;
  letter-spacing: -1px;
}

.starlight-aside__icon {
  transform: scaleX(-1);
}

.sl-link-button {
  padding: 0.66em;
}
.sl-link-button.link {
  margin: 0px;
  /* border-color: lightgray; */
}

h3 {
  /* font-weight: 100; */
  font-size: smaller;
}

.sl-heading-wrapper.level-h3 {
  margin-top: 0.5em;
}
